
.login-container {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 10%;
}

.Login {
  border-radius: 30px;
  border: 1px solid rgb(83, 83, 83);
  background-color: #f7f7f7;
  /* margin: 10%; */
  color: #1a1a1a;
  width: 40%;
  margin: 0;
}

h1 {
  font-size: 3em;
}

form {
  margin: 3%;
}

label {
  display: grid;
  place-items: center;
  /* width: 100%; */
}

input {
  width: 70%;
  height: 20px;
  border-radius: 3px;
}
